<div class="title">
  <h1>Shogi</h1>
</div>
<div class="board">
  <div *ngFor="let row of board">
    <div class="row">
      <div *ngFor="let item of row">
        <div class="tile" (click)="selectPiece(item)">
          <img
            *ngIf="item.piece !== ' '"
            [ngClass]="item.piece !== item.piece.toLowerCase() ? 'switch' : ''"
            src="../assets/{{ item.piece.toLowerCase() }}.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<button (click)="resetBoard()">Reset board</button>
